In [16]:
import pandas as pd

import numpy as np

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.3 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "/usr/lib/python3.10/runpy.py", line 196, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/usr/lib/python3.10/runpy.py", line 86, in _run_code
    exec(code, run_globals)
  File "/home/vboxuser/.local/lib/python3.10/site-packages/ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "/home/vboxuser/.local/lib/python3.10/site-packages/traitlets/config/application.py", line 1043, in launch_instance
    app.start()
  File "/home/vboxuser/.local/lib/python3.10/site-packages/ipykernel/kernelapp.py", line 736, in start
    self.io_loop.start()
  File "/home/vboxuser/.local/lib/python3.10/site-packages/tornado/platform/asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "/usr/lib/python3.10/asyncio/base_events.py", line 603, in run_forever
    self._run_once()
  File "/usr/lib/python3.10/asyncio/base_events.py", line 1909, in _run_once
    handle._run()
  File "/usr/lib/python3.10/asyncio/events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "/home/vboxuser/.local/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 516, in dispatch_queue
    await self.process_one()
  File "/home/vboxuser/.local/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 505, in process_one
    await dispatch(*args)
  File "/home/vboxuser/.local/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 412, in dispatch_shell
    await result
  File "/home/vboxuser/.local/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 740, in execute_request
    reply_content = await reply_content
  File "/home/vboxuser/.local/lib/python3.10/site-packages/ipykernel/ipkernel.py", line 422, in do_execute
    res = shell.run_cell(
  File "/home/vboxuser/.local/lib/python3.10/site-packages/ipykernel/zmqshell.py", line 546, in run_cell
    return super().run_cell(*args, **kwargs)
  File "/home/vboxuser/.local/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3009, in run_cell
    result = self._run_cell(
  File "/home/vboxuser/.local/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3064, in _run_cell
    result = runner(coro)
  File "/home/vboxuser/.local/lib/python3.10/site-packages/IPython/core/async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "/home/vboxuser/.local/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3269, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/home/vboxuser/.local/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3448, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "/home/vboxuser/.local/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3508, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/tmp/ipykernel_8485/747634337.py", line 2, in <module>
    import matplotlib.pyplot as plt
  File "/home/vboxuser/.local/lib/python3.10/site-packages/matplotlib/__init__.py", line 129, in <module>
    from . import _api, _version, cbook, _docstring, rcsetup
  File "/home/vboxuser/.local/lib/python3.10/site-packages/matplotlib/rcsetup.py", line 27, in <module>
    from matplotlib.colors import Colormap, is_color_like
  File "/home/vboxuser/.local/lib/python3.10/site-packages/matplotlib/colors.py", line 56, in <module>
    from matplotlib import _api, _cm, cbook, scale
  File "/home/vboxuser/.local/lib/python3.10/site-packages/matplotlib/scale.py", line 22, in <module>
    from matplotlib.ticker import (
  File "/home/vboxuser/.local/lib/python3.10/site-packages/matplotlib/ticker.py", line 138, in <module>
    from matplotlib import transforms as mtransforms
  File "/home/vboxuser/.local/lib/python3.10/site-packages/matplotlib/transforms.py", line 49, in <module>
    from matplotlib._path import (

AttributeError: _ARRAY_API not found

ImportError: numpy.core.multiarray failed to import

In [11]:
df = pd.read_csv("Book1.csv", encoding="UTF-8")
df.head(10)

,Name,Age/Sex,Height,Weight{ in kg},Address,Contact,Comorbidities?,Working Category?,Working Years?,Working Area?,...,Footwear type,Treatment taken,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Shoes modification,Physiotherapy,steroid injection,others,NaN,NaN,NaN,NaN,NaN
1,Bharti Behra,56y/f,5'1,83kg,"sector 10,street 32,2/A",8770099732,NO,Nurse,>24years,Ward,...,Comfort shoes,NaN,Physiotherapy,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Pratibha Ram,52y/f,5',68kg,"near sai mandir, kasaridih,",9993095035,no,Nurse,>24years,Emergency,...,Comfort shoes,Shoes modification,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Laxmi Nag,34y/f,5'3,49kg,"radhika nagar,durg",NaN,nil,Nurse,<8years,ICU,...,Comfort shoes,NaN,NaN,NaN,analgesics,NaN,NaN,NaN,NaN,NaN
4,Deepika Dhru,29/f,5'2,50kg,"kasaridih,durg",NaN,nil,Pharmacist,<8years,Pharmacy,...,Comfort shoes,Shoes modification,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Aakanksha Verma,45y/f,5'4,72kg,"khandelwal colony ,durg",NaN,nil,Doctor,8-16years,Medical laboratory,...,any type of shoes,NaN,Physiotherapy,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Nagendra Thakur,37y/m,5'2,65kg,durg,8435338069,nil,Medical lab technician,8-16years,Medical laboratory,...,Comfort shoes,NaN,NaN,NaN,Analgesics,NaN,NaN,NaN,NaN,NaN
7,Neha Verma,28y/f,5'3,48kg,"supela,bhilai",9340431253,nil,Nurse,8-16years,Ward,...,Comfort shoes,NaN,Physiotherapy,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Rini Jose,35y/f,4'5,64kg,"borsi,durg",8965871119,no,Nurse,8-16years,ICU,...,any type of shoes,Shoes modification,NaN,NaN,Analgesics,NaN,NaN,NaN,NaN,NaN
9,Sayma Parveen,26y/f,5'2,52kg,durg,no,none,Physiotherapist,<8years,OPD,...,any type of shoes,NaN,Physiotherapy,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.columns = df.columns.str.strip()
df.head()

,Name,Age/Sex,Height,Weight{ in kg},Address,Contact,Comorbidities?,Working Category?,Working Years?,Working Area?,...,Footwear type,Treatment taken,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Shoes modification,Physiotherapy,steroid injection,others,NaN,NaN,NaN,NaN,NaN
1,Bharti Behra,56y/f,5'1,83kg,"sector 10,street 32,2/A",8770099732,NO,Nurse,>24years,Ward,...,Comfort shoes,NaN,Physiotherapy,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Pratibha Ram,52y/f,5',68kg,"near sai mandir, kasaridih,",9993095035,no,Nurse,>24years,Emergency,...,Comfort shoes,Shoes modification,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Laxmi Nag,34y/f,5'3,49kg,"radhika nagar,durg",NaN,nil,Nurse,<8years,ICU,...,Comfort shoes,NaN,NaN,NaN,analgesics,NaN,NaN,NaN,NaN,NaN
4,Deepika Dhru,29/f,5'2,50kg,"kasaridih,durg",NaN,nil,Pharmacist,<8years,Pharmacy,...,Comfort shoes,Shoes modification,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df['Age'] = df['Age/Sex'].str.extract('(\d+)').astype(float)
# df['Sex'] = df['Age/Sex'].str.extract('([mf])', flags=re.IGNORECASE).str.upper()
df['Weight'] = df['Weight{ in kg}'].str.extract('(\d+)').astype(float)
df['Height_feet'] = df['Height'].str.extract("(\d+)'").astype(float)
df['Height_inches'] = df['Height'].str.extract("'(\d+)").fillna(0).astype(float)
df['Height_cm'] = (df['Height_feet'] * 30.48) + (df['Height_inches'] * 2.54)

In [13]:
df.head()

,Name,Age/Sex,Height,Weight{ in kg},Address,Contact,Comorbidities?,Working Category?,Working Years?,Working Area?,...,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Age,Weight,Height_feet,Height_inches,Height_cm
0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1,Bharti Behra,56y/f,5'1,83kg,"sector 10,street 32,2/A",8770099732,NO,Nurse,>24years,Ward,...,NaN,NaN,NaN,NaN,NaN,56.0,83.0,5.0,1.0,154.94
2,Pratibha Ram,52y/f,5',68kg,"near sai mandir, kasaridih,",9993095035,no,Nurse,>24years,Emergency,...,NaN,NaN,NaN,NaN,NaN,52.0,68.0,5.0,0.0,152.40
3,Laxmi Nag,34y/f,5'3,49kg,"radhika nagar,durg",NaN,nil,Nurse,<8years,ICU,...,NaN,NaN,NaN,NaN,NaN,34.0,49.0,5.0,3.0,160.02
4,Deepika Dhru,29/f,5'2,50kg,"kasaridih,durg",NaN,nil,Pharmacist,<8years,Pharmacy,...,NaN,NaN,NaN,NaN,NaN,29.0,50.0,5.0,2.0,157.48

In [14]:
df['BMI'] = df['Weight'] / ((df['Height_cm']/100) ** 2)

In [15]:
plt.style.use('seaborn')
fig = plt.figure(figsize=(20, 15))

NameError: name 'plt' is not defined